/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.slicknav_menu{display:none}
.h4, h4 {
    font-size: 23px;
    font-family: Lato;
    border-bottom: 1px solid;
}

/*logo*/

.logo-section {
    background-color: #ddd;
    height: 120px;
}
.logo-body {
    margin: 41px 0px 41px 0px;
}
.logo-body img{margin-top: 22px;}
.advertiesment-section{    
    width: 100%;
    height: 80px;
}
.advertiesment-section img{margin-top: 22px; height: 100%; width: 100%; float: right;}
/*logo*/


.margin-top{margin-top: 15px;}

/*header start*/
.header-top{
    height: 30px;
    background-color: #000000;
}
.heder-top-left{
    margin-top: 5px;
}
.heder-top-left i{
    color: #fff;
    margin-right: 10px;
}
.heder-top-left i:hover{
    color: #5AE76E;
}
.social-icon{
    margin-top: 5px;
}

.social-icon i{
    color: #fff;
    margin-left: 10px;
}
.social-icon i:hover{
    color: #5AE76E;
}
/*header end*/

/*navigation bar start*/
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar {
    border-radius: 0px;
}

.right-nav ul li a:hover{
    background-color: transparent !important; 
}



/*search box start*/
/*.search-box {
    position: absolute;
    top: 11px;
    width: 224px;
    right: 31px;
    height: 38px;
    display: none;
}
.search-box input[type="text"] {
    height: 32px;
    width: 170px;
    outline: none;
}
.search-box input[type="button"] {
    outline: none;
    border: none;
    background: red;
    height: 31px;
    color: #fff;
    margin-left: -4px;
    padding: 0px 0px;
    font-size: 16px;
}*/
#crsbtn{
    position: absolute;
    top: 70px;
    z-index: 2;
    left: 50px;
}
.search-box i {
    float: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 4px;
}
.search-box {
    position: absolute;
    top: 57px;
    right: 0px;
    width: 350px;
    border-top: 4px solid #ff580a;
    height: 100px;
    background: #ddd;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
}
.search-box::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #FF580A;
}

.search-box input[type="text"] {
    width: 220px;
    margin-left: 20px;
    height: 40px;
    margin-top: 25px;
    padding: 8px;
    font-size: 16px;
    font-family: robotto;
}


.search-box input[type="button"] {
    border: none;
    height: 38px;
    padding: 11px 0px;
    width: 72px;
    margin-left: -5px;
    background: #FF580A;
    color: #fff;
}
/*search box end*/



.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: red;
}
.navbar-default {
    background-color: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;
}

/*navigation bar end*/

/*slider section start*/
.h5, h5 {
    font-size: 14px;
    margin: 0px;
    padding: 6px;
    color: #fff;
}
.carousel-slider{}
.option{}
.slider-option img{}
.slidersch{
    position: absolute;
    top: 206px;
    width: 577px;
    height: 146px;
    background-color: rgba(0,0,0,0.6);
    left: 1px;
}
.slidersch h5{
    margin: 0px;
    float: left;
    padding: 5px;
}
.slidersch h3{
    margin: 0px;
    padding: 5px;
    float: left;
    font-size: 20px;
    font-family: Lato;
    margin-left: -45px;
    text-align: justify;
}
.slidersch p{
    margin: 0px;
    font-family: lato;
    font-size: 14px;
    float: left;
    text-align: justify;
    padding: 5px;
    margin-left: 10px;
}
.slidersch i{
    float: left;
    margin-left: 14px;
    margin-right: 24px;
}


.slider-left {
    margin-right: -12px;
}
.middle-section {
    margin-left: -12px;
    margin-right: -12px;
}
.slider-right {
    margin-left: -12px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 353px;
}
.item a{text-decoration: none;}
.item a::before{
    background: #000 none repeat scroll 0 0;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.4;
}


.full-post .post-img a::before{
    background: #000 none repeat scroll 0 0;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.4;
}
.full-post .post-img:hover a::before{transform: scaleX(1);}

.full-post {
    position: relative;
    margin-bottom: 3px;
}
.post-img {
    width: 275px;
    height: 175px;
    position: relative;
    overflow: hidden;
}
.post-img img {
    width: 100%;
    height: 100%;
    transition: 0.15s;
}
.post-img:hover img{
    transform: scale(1.2);
}

.post-content {
    position: absolute;
    top: 75px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    width: 274px;
}
.post-content h5{}
.post-content h3 {
    margin: 0px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-family: Poppins;
    text-align: justify;
}
.post-content i {
    color: #fff;
    padding: 5px;
}



/*slider section end*/


.drpmimg{width: 500px; }
.drpmimg img{}
.










.images{}
.images a{position: relative; display: block;}
.images a::before {
    background: #000 none repeat scroll 0 0;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    transform: scaleX(0);
    transition: all 0.5s ease 0s;
}

.images:hover a::before{transform: scaleX(1);}


/*post section start*/
.postImg{width: 355px; height: 220px;  position: relative;}
.postImg a::before{position: absolute;content: ""; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); }
.postImg a img{width: 100%; height: 100%;}



.thumbnail {
    display: block;
    padding: 1px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    /* border-radius: 4px; */
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.postCntnt{position: relative;}
.postCntnt h6 {
    position: absolute;
    top: -230px;
    left: 8px;
    color: #fff;
    font-size: 16px;
    font-family: lato;
}
.postCntnt p {
    padding: 5px;
    font-family: Poppins;
    font-size: 15px;
    text-align: justify;
    margin: 0px;
}
.postCntnt a{text-decoration: none; color: #000;}
.postCntnt ul {
    /* margin: 9px 0px 0px 9px; */
    padding: 5px;
    list-style: none;
}
.postCntnt ul li {
    display: inline-block;
}
.postCntnt ul li a {
    text-decoration: none;
    /* color: #000; */
}
.postCntnt ul li i {
    margin-left: 15px;
}
.postCntnt ul li span {
    margin-right: 5px;
    color: #000;
}
/*post section end*/
/*top post section start*/
.top-PostImg{ position: relative;}
.top-PostImg a::before{position: absolute; content: "";  width:100%; height: 100%; background-color: rgba(0,0,0,0.4);}
.top-PostImg img{}

.top-PostCntnt{position: relative;}
.top-PostCntnt h5{
    position: absolute;
    top: -219px;
    font-size: 14px;
    font-family: lato;
    /* font-weight: bold; */
    color: #fff;
    border: 1px solid;
    left: 7px;
    padding: 1px;
    margin: 0px;
    width: 96px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    height: 20px;
}
.top-PostCntnt span {
    margin-top: 23px;
}
.top-PostCntnt span a {
    margin-right: 14px;
    margin-left: 5px;
    /* padding: 0; */
    text-decoration: none;
}
.top-PostCntnt span a i{}
.top-PostCntnt i {
    margin: 0px;
    margin-top: 10px;
}
.top-PostCntnt a{text-decoration: none;}
.top-PostCntnt a h3{
    color: #000;
    text-align: justify;
    font-family: Poppins;
}
.top-PostCntnt a h3:hover{color: #0184C8;}
.top-PostCntnt p{
    text-align: justify;
    font-size: 20px;
    font-family: Lato;
}


/*recentPost popular section start*/
.popularPst {
    width: 100%;
    height: 110px;
}
.popularPostImg {
    height: 80px;
    width: 132px;
}
.popularPostImg a{}
.popularPostImg a img {
    height: 100%;
    width: 100%;
}

.popularPostImgCntnt {
    margin-left: -15px;
}
.popularPostImgCntnt a{text-decoration: none;}
.popularPostImgCntnt a h3 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: Lato;
    color: #000;
    text-align: justify;
}
.popularPostImgCntnt a p {
    font-size: 15px;
    font-family: Robotto;
    text-align: justify;
    /* color: #000; */
}
/*recentPost popular section end*/
/*top post section end*/

/*beauty post section start*/
.img-section {
    width: 100%;
    height: 222px;
}
.img-section img {
    width: 100%;
    height: 100%;
}

.img-postContent{}

.img-postContent i {
    text-align: center;
    font-size: 16px;
    padding: 5px;
}
.img-postContent a{text-decoration: none;}
.img-postContent a h3 {
    line-height: 28px;
    font-size: 23px;
    text-transform: capitalize;
    color: #101010;
    margin: 7px 0 9px;
    font-family: Poppins;
    text-align: justify;
    padding: 5px;
}
.img-postContent a h3:hover{color: red;}
.img-postContent p {
    padding: 5px;
    margin: 0px;
    line-height: 22px;
    text-align: justify;
    font-size: 18px;
    font-family: robotto;
}
.author-section {
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #F7FDFF;
}
.author-section ul{
    margin: 0px;
    padding: 0px;
}
.author-section ul li{
    list-style: none;
    display: inline-block;
    float: right;
}
.author-section ul li span{
    margin-top: 10px;
    display: block;
    padding: 3px;
    margin-right: 30px;
}
.author-section ul li i{
    margin-top: 14px;
    padding: 3px;
    font-size: 12px;
}

/*beauty post section end*/


/*health-post section start*/
.health-img {
    width: 100%;
    height: 163px;
}
.health-img img {
    width: 100%;
    height: 100%;
}
.Health-postContent{}
.Health-postContent i {
    padding: 3px;
    margin-top: 5px;
}
.Health-postContent a{text-decoration: none;}
.Health-postContent a h3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
    margin: 0px;
    line-height: 22px;
}
.Health-postContent a h3:hover{color: red;}
.Health-postContent p {
    padding: 3px;
    font-size: 15px;
    text-align: justify;
    font-family: Poppins;
    line-height: 23px;
}

.Health-author-section{
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: #F7FDFF;
}
.Health-author-section a{}
.Health-author-section ul {
    margin: 0px;
    padding: 0px;
}
.Health-author-section ul li {
    list-style: none;
}
.Health-author-section ul li span {
    margin-top: 10px;
    display: block;
    padding: 3px;
    margin-right: 30px;
}

.Health-author-section ul{}
.Health-author-section ul li {
    display: inline-block;
}
.Health-author-section ul li i {
    margin-top: 14px;
    padding: 3px;
    font-size: 12px;
}
/*health-post section end*/

/*popular post start*/
.cmps-Img{position: relative;}
.cmps-Img a::before{
    background-color: rgba(0,0,0,0.5);
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
}
.cmps-Img img{}
.cmps-Img h3 {
    position: absolute;
    top: 250px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: Robotto;
    right: 100px;
    left: 100px;
}
.cmps-Img button {
    position: absolute;
    top: 375px;
    right: 315px;
    border: 1px solid #fff;
    background: transparent;
    width: 140px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.cmps-Img i {
    position: absolute;
    top: 340px;
    color: #40C3FF;
    font-size: 20px;
    right: 327px;
    text-align: center;
}
.cmps-Img button:hover{background-color: #000; color: #fff;}
/*popular post end*/


/*Social Media Start*/

.social-media{padding: 0px; text-align: center;}
.social-media ul{margin: 0px; padding: 0px; display: inline-block;}
.social-media ul li {
    list-style: none outside none;
    display: inline-block;
    margin: 5px;
}
.social-media ul li a {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    color: #FFE;
    background-color: #909AA0;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    padding-top: 14px;
}
.social-media ul li a i {
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
}
.social-media ul li a span {
    display: block;
    font-size: 16px;
    top: -10px;
    left: -5px;
    right: 0px;
}
.social-media ul li a.facebook{background-color: #3b5998;}
.social-media ul li a.youtube{background-color: #FB3333;}
.social-media ul li a.google-plus{background-color: #DD4F43;}
.social-media ul li a.twitter{background-color: #1DA1F2;}
/*Social Media End*/

/*popular post section start*/
.recent-post {
    width: 100%;
    height: 100px;
}

.popularPostImage {
    width: 100%;
    height: 80px;
}
.popularPostImage a{}
.popularPostImage a img{
    width: 100%;
    height: 100%;
}

.popularPostContent {
    margin-left: -15px;
}
.popularPostContent a{text-decoration: none;}
.popularPostContent a h3 {
    margin: 0px;
    font-size: 19px;
    text-align: justify;
    line-height: 27px;
    color: #000;
    font-family: lato;
}
.popularPostContent a h3:hover{color: red;}
.popularPostContent i{}
/*popular post section end*/

/*facebook post section start*/
.facebook-postlft {
    margin-right: -14px;
}
.facebook-postright{
    margin-left: -14px;
}

.fb-Post{
    width: 100%;
    height: 160px;
}
.fb-Post a{}
.fb-Post a img{margin-top: 3px; height: 100%; width: 100%;}
.fb-Post:hover img{
    background-color: red;
    opacity: 0.5;
}
/*facebook post section end*/

/*subscribe section css start*/
.form-inline .form-control {
    display: inline-block;
    width: 270px;
    vertical-align: middle;
    margin: 15px;
}
.subscribe-section {
    width: auto;
    height: 200px;
    border: 1px solid;
    margin-top: 40px;
    background-color: #222222;
}
.subscribe-section h3 {
    color: #fff;
    font-family: Lato;
    margin: 30px 0px 0px 15px;
    font-size: 30px;
}
.subscribe-section button{margin-top: 10px;}
.subscribe-section input[type="text"] {
    padding: 8px;
    margin-left: 18px;
    width: 230px;
    margin-top: 10px;
}

.subscribe-section p {
    color: #fff;
    padding: 20px;
    font-family: Poppins;
    text-align: justify;
    font-size: 16px;
}
/*subscribe section css end*/

/*footer*/
.footer-img img {
    margin-top: 36px;
}
.footer-img li {
    color: #fff;
    text-align: justify;
    font-size: 16px;
    font-family: lato;
    list-style: none;
    padding: 4px;
}
.footer-top {
    background-color: #22313F;
    padding: 50px 0 20px;
    color: #fff;
}
.footer-catagory h2 {
    font-family: Poppins;
    padding: 0px calc;
    border-bottom: 1px solid;
}
.catagory h2{
    font-family: Poppins;
    padding: 0px calc;
    border-bottom: 1px solid;
}
.catagory li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.catagory li:last-child{border-bottom: 0px solid;}
.catagory li a {
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-family: Lato;
}




.footer-catagory ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer-catagory ul li {
    display: inline-block;
    width: 117px;
    overflow: hidden;
}
.footer-catagory ul li a {
    display: block;
    transition: all 0.5s ease 0s;
}
.footer-catagory ul li a img {
    display: block;
    width: 100%;
    height: 100%;
}
.footer-catagory ul li:hover img{
    background-color: red;
    opacity: 0.5;
}

.footer-menu{
   width: 100%;
   background-color: #535353;
   color: white;
   text-align: center;
}
.theme{}
.theme p{padding: 15px;}
.footer-social-icon i{}
/*footer*/

/*catagory css start*/
    
.popularPost {
    width: 100%;
    height: 260px;
}

.pupularPstIms {
    width: 100%;
    height: 239px;
}
.pupularPstIms a{}
.pupularPstIms a img {
    width: 100%;
    height: 100%;
}

.pupularPstContent{position: relative;}
.pupularPstContent a{text-decoration: none;}
.pupularPstContent a h3 {
    margin: 0px;
    line-height: 30px;
    color: #000;
    font-family: Lato;
    text-align: justify;
}
.pupularPstContent a h3:hover{color: red;}
.pupularPstContent p {
    margin-top: 8px;
    line-height: 25px;
    text-align: justify;
    font-family: Poppins;
    font-size: 17px;
}
.pupularPstContent i{}
.pupularPstContent h4 {
    color: #fff;
    border: 1px solid;
    width: 120px;
    text-align: center;
    font-size: 23px;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 198px;
    left: -153px;
    cursor: pointer;
    transition: 0.5s;
}
.pupularPstContent h4:hover{background: #006266;}
/*catagory css end*/

/*about us*/
.aboutUsImg {
    margin-top: 90px;
}
.aboutUsImg img{}


.ourTm{}
.ourTm h3 {
    margin: 0px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: bold;
}



.aboutUs h1 {
    margin-bottom: 15px;
    font-size: 36px;
    font-family: Lato;
}
.aboutUs p {
    font-size: 18px;
    text-align: justify;
    font-family: Poppins;
    line-height: 28px;
}

.ourTeam{}
.teamImg {
    width: 100%;
    height: 360px;
}
.teamImg img {
    width: 100%;
    height: 100%;
}

.teamCntnt{}
.teamCntnt a{text-decoration: none;}
.teamCntnt a h2 {
    margin: 7px 0px;
    color: #000;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
}
.teamCntnt p {
    font-size: 16px;
    font-family: Poppins;
}
.teamCntnt ul {
    margin: 0px;
    padding: 0px;
}
.teamCntnt ul li {
    list-style: none;
    display: inline-block;
}
.teamCntnt ul li a{}
.teamCntnt ul li a i {
    font-size: 20px;
    margin-right: 15px;
}
/*about us*/

/*social media share*/
.socialMediaShare {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.socialMediaShare ul {
    margin: 0px;
    padding: 0;
    display: inline-block;
}
.socialMediaShare ul li {
    display: inline-block;
    list-style: none outside none;
    margin: 3px 0px;
}
.socialMediaShare ul li a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 60px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 6px;
}
.socialMediaShare ul li a.facebook{background-color: #3b5998;}
.socialMediaShare ul li a.twitter{background-color: #1DA1F2;}
.socialMediaShare ul li a.youtube{background-color: #FB3333;}
.socialMediaShare ul li a.google{background-color: #DD4F43;}

.socialMediaShare ul li a i {
    font-size: 30px;
    text-align: center;
}
.socialMediaShare ul li p{
    font-family: Lato;
    font-size: 30px;
    margin: 0px;
    margin-right: 20px;
    border: 1px solid;
    width: 160px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    height: 40px;
}
/*social media share*/

/*post details*/
.postDetailsCntnt{}
.postDetailsCntnt h3 {
    font-family: Poppins;
    font-size: 35px;
    text-align: justify;
}
.postDetailsCntnt p {
    line-height: 25px;
    text-align: justify;
    font-size: 18px;
    font-family: lato;
}
/*post details*/





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




@media only screen and (max-width: 320px) {
    body {
        
    }
    .advertiesment-section{display: none;}
    .advertiesment-section img{}
    
    .social-icon i {
        color: #fff;
        margin-left: 10px;
        display: none;
    }
    /*recentPost popular section start*/
    .popularPst {
        width: 100%;
        height: 100px;
    }
    .popularPostImg {
        height: 72px;
        width: 132px;
        float: left;
    }
    .popularPostImg a{}
    .popularPostImg a img {
        height: 100%;
        width: 100%;
    }

    .popularPostImgCntnt {
        float: right;
        width: 150px;
    }
    .popularPostImgCntnt a{text-decoration: none;}
    .popularPostImgCntnt a h3 {
        margin: 0px;
        padding: 0px;
        font-size: 13px;
        font-family: Lato;
        color: #000;
        text-align: justify;
    }
    .popularPostImgCntnt a p {
        font-size: 12px;
        font-family: Robotto;
        text-align: justify;
        /* color: #000; */
    }
/*recentPost popular section end*/
    /*popular post section start*/
    .recent-post {
        width: 100%;
        height: 80px;
    }
    .popularPostImage {
        float: left;
        width: 120px;
        height: 70px;
    }

    .popularPostImage a{}
    .popularPostImage a img{}


    .popularPostContent {
        float: right;
        width: 160px;
        margin-top: -5px;
    }

    .popularPostContent a{text-decoration: none;}
    .popularPostContent a h3 {
        margin: 0px;
        font-size: 16px;
        text-align: justify;
        line-height: 27px;
        color: #000;
    }
    .popularPostContent i{}
    /*popular post section end*/

    /*top post start*/
    .top-PostCntnt{position: relative;}
    .top-PostCntnt h5{
        position: absolute;
        top: -170px;
        font-size: 14px;
        font-family: lato;
        color: #fff;
        border: 1px solid;
        left: 7px;
        padding: 1px;
        margin: 0px;
        width: 96px;
        text-align: center;
        background: rgba(0,0,0,0.3);
        height: 20px;
    }
    /*top post end*/
    /*social*/
    .social-media ul li a {
        display: inline-block;
        position: relative;
        width: 58px;
        height: 76px;
        color: #FFE;
        background-color: #909AA0;
        font-size: 14px;
        text-align: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-decoration: none;
        padding-top: 14px;
    }
    /*social*/

    /*subscribe*/
    .subscribe-section h3 {
        color: #fff;
        font-family: Lato;
        margin: 30px 0px 0px 15px;
        font-size: 25px;
    }
    .subscribe-section input[type="text"] {
        padding: 8px;
        margin-left: 18px;
        width: 185px;
        margin-top: 0px;
        float: left;
    }
    .subscribe-section button {
        margin-right: 5px;
        float: right;
        margin-top: 0px;
    }
    .subscribe-section p {
        color: #fff;
        padding: 22px;
        font-family: Poppins;
        text-align: justify;
        font-size: 17px;
        margin-top: 36px;
    }
    /*subscribe*/
    
    /*facebook*/
    .fb-Post {
        width: 96%;
        height: 160px;
    }
    .facebook-postright {
        margin-left: 1px;
        margin-right: -14px;
    }
    /*facebook*/

    /*footer*/
    .footer-catagory ul li {
        display: inline-block;
        width: 143px;
        overflow: hidden;
    }
    /*footer*/
    

    /*catagory*/
    .popularPost {
        width: 100%;
        height: 426px;
    }
    .pupularPstIms {
        width: 100%;
        height: 200px;
    }
    .pupularPstContent {
        position: relative;
    }
    .pupularPstContent a {
        text-decoration: none;
    }
    .pupularPstContent a h3 {
        margin: 0px;
        line-height: 26px;
        color: #000;
        font-family: Lato;
        text-align: justify;
        font-size: 18px;
    }
    .pupularPstContent p {
        margin-top: 9px;
        line-height: 21px;
        text-align: justify;
        font-family: Poppins;
        font-size: 14px;
    }
    .pupularPstContent h4 {
        color: #fff;
        border: 1px solid;
        width: 120px;
        text-align: center;
        font-size: 23px;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: -39px;
        right: 2px;
    }
    /*catagory*/
}
